
  h1 {
    text-align: center;
    margin: 50px 10px;
    font-size: xxx-large;
    border: solid;
  }

.container {  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }
  
  img { 
    width: 30%;
    margin: auto;
   }
  
  .topnav__item {
      width: fit-content;
  }

